#body{
    /* background-color: #e8e8e8; */
    background-color: #428bca;
}

#container{
    
    padding: 30px;
}

#menu{
    border-bottom: 0px solid #d7d7d7;
    padding-top: 10px;
    padding-bottom: 10px;
}

#titleinner{
    margin-top: 0px; 
    font-weight: bold; 
    text-align:center;
    padding-top: 10px;
    border-bottom: 1px solid #d7d7d7;
}

#titlemain{
    margin-top: 0px; 
    font-weight: bold; 
    text-align:center;
    padding-top: 10px;
    border-bottom: 1px solid #d7d7d7;
    color: white;
}

#nav-second{
    padding-top: 0px;
    background-color:#428bca;
    color: white;
}

.title{
    background-color: #054F9A; 
    margin: 0px;
    color: white;
    font-weight: bold;
    padding: 4px;
}

.sizeField{
    height: 50px; 
    font-size: 30px; 
    font-weight: bold;
    border-radius: 0px;
}

.sizeFieldTotal{
    height: 70px; 
    font-size: 50px; 
    font-weight: bold;
    border-radius: 0px;
    text-align: right;
    color: red;
}

.sizeDiscountTotalFields{
    height: 50px; 
    font-size: 30px; 
    font-weight: bold;
    border-radius: 0px;
    text-align: left;
}

.sizeDiscountTotalFieldsTypePay{
    height: 40px; 
    font-size: 20px; 
    font-weight: bold;
    border-radius: 0px;
    text-align: left;
}

#produtoscontainer{
  padding-bottom: 10px;
}

#descriptioncontainer{
    background-color: #f5f5f5;
}

#descriptioncontainercupon{
    background-color: #FFFED0;
}

#descriptioncontainer2{
    padding-top: 15px;
    background-color: #5da3de;
    /* border: 1px dashed white; */
}

.colortable{
    background-color: white;
}

#price{
    color: red;
    font-weight: bold;
}

#description{
    background-color: #f2dede;
    margin-top: 0px; 
    padding: 5px;
    font-weight: bold;
}

#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9000;
}

#modal .wrap{
    width: 80%;
    min-height: 90%;
    margin-left: 10%;
    margin-top: 2%;
    background: #f8f8f8;
    border-radius: 5px;
    padding-bottom: 20px;
}

#modal input{
    color: #333;
}