<!DOCTYPE html>
<html>

<head>
  <title>Simples 1.0.1</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="photon/css/photon.css">
  <link rel="stylesheet" href="datatables11020/datatables.min.css">

  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="photon/css/simples.css">
</head>

<body>
  <div class="window" id="main">
    <div class="pane-group loading" v-if="loading == true">
      <div class="pane space">
        <div class="preloader">
          <img src="images/Infinity-1s-200px.gif" />
        </div>
      </div>
    </div>
    <header class="toolbar toolbar-header">
      <h1 class="title">Simples - Professional</h1>
      <div class="toolbar-actions">
        <div class="btn-group">
          <a href="main.html" class="btn btn-default link">
            <span class="icon icon-home span-margin"></span> Início
          </a>
          <button v-on:click="goToPDV" class="btn btn-default link">
            <span class="icon icon-basket span-margin"></span>
            PDV
          </button>
          <a href="sales.html" class="btn btn-default link">
            <span class="icon icon-archive span-margin"></span> Vendas
          </a>
          <a href="products.html" class="btn btn-default link">
            <span class="icon icon-basket span-margin"></span> Produtos
          </a>
          <a href="mainRegisters.html" class="btn btn-default link">
            <span class="icon icon-newspaper span-margin"></span> Cadastros
          </a>
          <a href="mainNotes.html" class="btn btn-default link">
            <span class="icon icon-docs span-margin"></span> Notas
          </a>
          <a href="support.html" class="btn btn-default link">
            <span class="icon icon-plus-squared span-margin"></span> Suporte
          </a>
          <a href="reports.html" class="btn btn-default link">
            <span class="icon icon-book-open span-margin"></span> Relatórios
          </a>
          <a href="manual.html" class="btn btn-default link">
            <span class="icon icon-book-open span-margin"></span> Manual
          </a>
          <a href="settings.html" class="btn btn-default link">
            <span class="icon icon-cog span-margin"></span> Configurações
          </a>
          <a href="shortcuts.html" class="btn btn-default link">
            <span class="icon icon-layout span-margin"></span> Atalhos
          </a>
          <button v-on:click="closeApplication" class="btn btn-default link buttonClose">
            Fechar
          </button>
        </div>
      </div>
    </header>

    <div class="window-content background-simples-color">
      <div class="pane-group">
        <div class="pane-sm sidebar">
          <nav class="nav-group">
            <h5 class="nav-group-title">Menu Clientes</h5>
            <a class="nav-group-item" @click="listClients">
              <span class="icon icon-doc-text"></span>
              Listar
            </a>
            <span class="nav-group-item" @click="createClient">
              <span class="icon icon-user"></span>
              Novo Cliente
            </span>
          </nav>
        </div>
        <div class="pane space" v-if="openModal==false">
          <table id="clientes" class="display table-widdth">
            <thead>
              <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Endereço</th>
                <th>Bairro</th>
                <th>Município</th>
                <th>Complemento</th>
                <th>Número</th>
                <th>UF</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="cliente in clientes">
                <td>{{cliente.nome}}</td>
                <td>{{cliente.cpf}}</td>
                <td>{{cliente.telefone}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.endereco}}</td>
                <td>{{cliente.bairro}}</td>
                <td>{{cliente.municipio}}</td>
                <td>{{cliente.complemento}}</td>
                <td>{{cliente.numero}}</td>
                <td>{{cliente.uf}}</td>
                <td>
                  <button @click="editClient(cliente)" id="font-button"
                    class="btn btn-large btn-default">Editar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pane" v-if="openModal==true">
          <div class="form-group" id="clients-form-group">
            <label>Nome Do Cliente*</label>
            <input type="text" class="form-control" v-model="client.nome" placeholder="">
            <hr />
            <label>CPF</label>
            <input type="number" class="form-control" v-model="client.cpf" placeholder="">
            <hr />
            <label>CNPJ</label>
            <input type="number" class="form-control" v-model="client.cnpj" placeholder="">
            <hr />
            <label>RG</label>
            <input type="number" class="form-control" v-model="client.rg" placeholder="">
            <hr />
            <label>Razão Social</label>
            <input type="text" class="form-control" v-model="client.razao_social" placeholder="">
            <hr />
            <label>Nome Fantasia</label>
            <input type="text" class="form-control" v-model="client.nome_fantasia" placeholder="">
          </div>
        </div>
        <div class="pane" v-if="openModal==true">
          <div class="form-group" id="clients-form-group">
            <label>Inscrição Estadual</label>
            <input type="number" class="form-control" v-model="client.inscricao_estadual" placeholder="">
            <hr />
            <label>Inscrição Municipal</label>
            <input type="number" class="form-control" v-model="client.inscricao_municipal" placeholder="">
            <hr />
            <label>Limite Crédito</label>
            <input type="text" class="form-control" v-model="client.limite_credito" placeholder="">
            <hr />
            <label>Telefone</label>
            <input type="number" class="form-control" v-model="client.telefone" placeholder="">
            <hr />
            <label>Fax</label>
            <input type="number" class="form-control" v-model="client.fax" placeholder="">
            <hr />
            <label>Celular*</label>
            <input type="number" class="form-control" v-model="client.celular" placeholder="">
          </div>
        </div>
        <div class="pane" v-if="openModal==true">
          <div class="form-group" id="clients-form-group">
            <label>Apelido</label>
            <input type="text" class="form-control" v-model="client.apelido" placeholder="">
            <hr />
            <label>E-mail</label>
            <input type="text" class="form-control" v-model="client.email" placeholder="">
            <hr />
            <label>CEP</label>
            <input type="number" class="form-control" v-model="client.cep" placeholder="">
            <hr />
            <label>Complemento</label>
            <input type="text" class="form-control" v-model="client.complemento" placeholder="">
            <hr />
            <label>Estado Civil</label>
            <select name="mes" class="form-control" required="true" v-model="client.estado_civil">
              <option v-if="client.estado_civil" value="{{client.estado_civil}}" selected>
                {{client.estado_civil}}</option>
              <option v-else value="" selected>Estado Civil</option>
              <option value="solteiro(a)">Solteiro(a)</option>
              <option value="casado(a)">Casado(a)</option>
              <option value="viuvo(a)">Viúvo(a)</option>
              <option value="outros">Outros</option>
            </select>
            <hr />
            <label>Sexo</label>
            <select name="mes" class="form-control" required="true" v-model="client.sexo">
              <option v-if="client.sexo" value="{{client.sexo}}" selected>
                {{client.sexo}}</option>
              <option v-else value="" selected>Sexo</option>
              <option value="masculino">Masculino(a)</option>
              <option value="feminino">Feminino(a)</option>
            </select>
          </div>
        </div>
        <div class="pane" v-if="openModal==true">
          <div class="form-group" id="clients-form-group">
            <label>Endereço*</label>
            <input type="text" class="form-control" v-model="client.endereco" placeholder="">
            <hr />
            <label>Número*</label>
            <input type="number" class="form-control" v-model="client.numero" placeholder="">
            <hr />
            <label>Bairro</label>
            <input type="text" class="form-control" v-model="client.bairro" placeholder="">
            <hr />
            <label>Estado*</label>
            <select class="form-control" v-model="client.uf">
              <option v-if="client.uf" value="{{client.uf}}" selected>
                {{client.uf}}</option>
              <option v-else value="" selected>Estado*</option>
              <option value="{{e.uf_estado}}" v-for="e in estados">{{e.uf_estado}}</option>
            </select>
            <hr />
            <label>Município*</label>
            <select class="form-control" v-model="client.municipio">
              <option v-if="client.municipio" value="{{client.municipio}}" selected>
                {{client.municipio}}</option>
              <option v-else value="" selected>Município*</option>
              <option value="{{ce.nome_cidade}}" v-for="ce in cidadesestados">{{ce.nome_cidade}}</option>
            </select>
            <hr />
            <button type="button" class="btn btn-mini btn-default" @click="closeModal">Fechar</button>
            <button type="button" class="btn btn-mini btn-default" v-if="allInformationFront"
              @click="clientStoreOrUpdate()">Salvar</button>
          </div>
        </div>
      </div>
    </div>
    <footer class="toolbar toolbar-footer">
      <div class="toolbar-actions">
        <span class="pull-left">Focux - Copyright © - Todos os Direitos Reservados</span>
      </div>
    </footer>
  </div>
  <script src="datatables11020/jQuery-3.3.1/jquery-3.3.1.min.js"></script>
  <script src="datatables11020/datatables.min.js"></script>
  <script src="scripts/screens/clients/datatableset.js"></script>
  <script src="vue/vue.min.js"></script>
  <script src="scripts/screens/clients/clients.js"></script>
</body>

</html>