<!DOCTYPE html>
<html>

<head>
    <title>Equal 0.0.1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="photon/css/photon.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="datatables11020/datatables.min.css">
</head>

<body>
    <div class="window" id="main">
        <div class="pane-group" style="background-color: white; z-index: 9000;" v-if="loading == true">
            <div class="pane space">
                <div class="preloader">
                    <img src="images/Infinity-1s-200px.gif" />
                </div>
            </div>
        </div>
        <header class="toolbar toolbar-header">
            <h1 class="title">Equal Community - Sistema Comercial - Clientes</h1>
            <div class="toolbar-actions">
                <div class="btn-group">
                    <a href="main2.html" class="btn btn-default link">
                        <span class="icon icon-home span-margin"></span> Início
                    </a>
                    <button v-on:click="goToPDV" class="btn btn-default link">
                        <span class="icon icon-basket span-margin"></span>
                        PDV
                    </button>
                    <a href="sales.html" class="btn btn-default link">
                        <span class="icon icon-archive span-margin"></span> Vendas
                    </a>
                    <a href="products.html" class="btn btn-default link">
                        <span class="icon icon-basket span-margin"></span> Produtos
                    </a>
                    <a href="mainRegisters.html" class="btn btn-default link">
                        <span class="icon icon-newspaper span-margin"></span> Cadastros
                    </a>
                    <a href="mainNotes.html" class="btn btn-default link">
                        <span class="icon icon-docs span-margin"></span> Notas
                    </a>
                    <a href="support.html" class="btn btn-default link">
                        <span class="icon icon-plus-squared span-margin"></span> Suporte
                    </a>
                    <a href="reports.html" class="btn btn-default link">
                        <span class="icon icon-book-open span-margin"></span> Relatórios
                    </a>
                    <a href="manual.html" class="btn btn-default link">
                        <span class="icon icon-book-open span-margin"></span> Manual
                    </a>
                    <a href="settings.html" class="btn btn-default link">
                        <span class="icon icon-cog span-margin"></span> Configurações
                    </a>
                    <a href="shortcuts.html" class="btn btn-default link">
                        <span class="icon icon-layout span-margin"></span> Atalhos
                    </a>
                    <button v-if="registered==false" v-on:click="currentTab = tabs.register"
                        class="btn btn-negative link">
                        <span class="icon icon-lock-open span-margin"></span>
                        Registrar
                    </button>
                </div>
            </div>
        </header>
        <div class="window-content">
            <div class="pane-group">
                <div class="pane space">
                    <div class="position">
                        <div class="form-group">
                            <div id="box-1" class="box">
                                <input type="text" class="form-control" v-model="empresa.nome"
                                    placeholder="Razão Social*">
                            </div>
                            <div id="box-1" class="box">
                                <input type="text" class="form-control" v-model="empresa.nomeFantasia"
                                    placeholder="Nome Fantasia*">
                            </div>
                            <div id="box-1" class="box">
                                <input type="text" class="form-control" v-model="empresa.ie"
                                    placeholder="Inscrição Estadual">
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="box-1" class="box">
                                <input type="text" class="form-control" v-model="empresa.csc" placeholder="CSC*">
                            </div>
                            <div id="box-2" class="box">
                                <input type="text" class="form-control" v-model="empresa.cnpj" placeholder="CNPJ*">
                            </div>
                            <div id="box-3" class="box">
                                <input type="text" class="form-control" v-model="empresa.im"
                                    placeholder="Inscrição Municipal">
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="box-1" class="box">
                                <input type="text" v-if="empresa.crt==1" class="form-control" placeholder="CRT*"
                                    disabled value="01 - Simples Nacional">
                            </div>
                            <div id="box-2" class="box">
                                <input type="text" class="form-control" v-model="empresa.cnae" placeholder="CNAE">
                            </div>
                            <div id="box-3" class="box">
                                <input type="text" class="form-control" v-model="empresa.email"
                                    placeholder="E-mail da Empresa">
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="box-1" class="box">
                                <input type="text" class="form-control" v-model="empresa.site" placeholder="Site">
                            </div>
                            <div id="box-2" class="box">
                                <input type="text" class="form-control" v-model="empresa.responsavel"
                                    placeholder="Responsável">
                            </div>
                            <div id="box-3" class="box">
                                <input type="text" class="form-control" v-model="empresa.endereco.endereco"
                                    placeholder="Endereço*">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="box-line">
                                <div class="box-line-inner-little">
                                    <input type="text" class="form-control" v-model="empresa.endereco.numero"
                                        placeholder="Número*">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="box-1" class="box">
                                <input type="text" class="form-control" v-model="empresa.endereco.complemento"
                                    placeholder="Complemento">
                            </div>
                            <div id="box-2" class="box">
                                <input id="bairro" v-model="empresa.endereco.bairro" type="text" class="form-control"
                                    placeholder="Bairro*">
                            </div>
                            <div id="box-3" class="box">
                                <input type="text" class="form-control" v-model="empresa.endereco.pais"
                                    placeholder="País*">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="box-line">
                                <div class="box-line-inner-little">
                                    <div class="form-group">
                                        <input id="fone" v-model="empresa.endereco.fone" type="text"
                                            class="form-control" placeholder="Fone*">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="box-1" class="box">
                                <select class="form-control" v-model="empresa.endereco.municipio">
                                    <option value="">Municípios*</option>
                                    <option value="{{ce.nome_cidade}}" v-for="ce in cidadesestados">
                                        {{ce.nome_cidade}}</option>
                                </select>
                            </div>
                            <div id="box-2" class="box">
                                <select class="form-control" v-model="empresa.endereco.uf">
                                    <option value="">Estados*</option>
                                    <option value="{{e.uf_estado}}" v-for="e in estados">{{e.uf_estado}}
                                    </option>
                                </select>
                            </div>
                            <div id="box-3" class="box">
                                <input id="numero" type="text" class="form-control" v-model="empresa.endereco.cep"
                                    placeholder="CEP*">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="box-line">
                                <div class="box-line-inner-little">
                                    <input id="numero" type="text" class="form-control"
                                        v-model="empresa.contabilidade.cnpj" placeholder="CNPJ">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="box-text">
                                <h5><strong>Dados da Contabilidade</strong></h5>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="box-1" class="box">
                                <input id="numero" type="text" class="form-control"
                                    v-model="empresa.contabilidade.responsavel" placeholder="Responsável">
                            </div>
                            <div id="box-2" class="box">
                                <input id="numero" type="text" class="form-control"
                                    v-model="empresa.contabilidade.email" placeholder="Email">
                            </div>
                            <div id="box-2" class="box">
                                <input id="numero" type="text" class="form-control"
                                    v-model="empresa.contabilidade.telefone" placeholder="Telefone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="box-line">
                                <button v-if="registered==false" class="btn btn-mini btn-default"
                                    @click="companyStoreOrUpdate()">
                                    Salvar
                                </button>
                                <button v-else class="btn btn-mini btn-default" @click="companyStoreOrUpdateInner()">
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="toolbar toolbar-footer">
            <div class="toolbar-actions">
                <span>SEMPRE EVOLUINDO!</span>
                <span>SEMPRE EVOLUINDO!</span>
            </div>
        </footer>
    </div>
    <script src="datatables11020/jQuery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="datatables11020/datatables.min.js"></script>
    <script src="vue/vue.min.js"></script>
    <script src="scripts/screens/company/company.js"></script>
</body>

</html>