<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Equal 0.0.1</title>
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="styles/nfe.css" rel="stylesheet">
  <link rel="stylesheet" href="datatables/dataTables.bootstrap.css">
  <link rel="stylesheet" href="fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="datepicker/bootsttrap-datepicker.min.css">
</head>

<body id="body" style="background-color: white;">
  <div class="container-fluid" style="padding-left: 50px; padding-right: 50px">
    <div class="row" id="wcontent">
      <div class="col-md-12">
        <h1 style="font-weight: bold">Emissão de NF-e</h1>
      </div>
      <div class="col-md-12">
        <a class="btn btn-primary" href="main2.html" role="button" @click="close" style="margin-top:10px">Fechar</a>
      </div>
      <br>
    </div>
    <div class="row" id="wcontentdown">
      <div class="col-md-12">
        <div class="tabbable" id="tabs-315662">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#panel-34198" data-toggle="tab" id="tab_border">Emissão de NFC-E</a>
            </li>
            <li>
              <a href="#panel-470049" data-toggle="tab" id="tab_border">Pesquisar</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="panel-470049">
              <div class="base">
                <table id="users" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Foto de Perfil</th>
                      <th>Nome</th>
                      <th>E-mail</th>
                      <th>Nacimento</th>
                      <th>Status</th>
                      <th>Informações</th>
                      <th>Mudar Status</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Foto de Perfil</th>
                      <th>Nome</th>
                      <th>E-mail</th>
                      <th>Nacimento</th>
                      <th>Status</th>
                      <th>Informações</th>
                      <td>Mudar Status</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="tab-pane active" id="panel-34198">
              <div class="base">
                <div class="col-md-12" style="padding: 0px">
                  <a class="btn btn-primary" href="nfce.html" role="button" style="margin-top:10px">Nova Nota</a>
                  <a class="btn btn-primary" href="index.html" role="button" style="margin-top:10px">Salvar</a>
                  <a class="btn btn-primary" role="button" style="margin-top:10px" @click="transmit()">Transmitir</a>
                  <a class="btn btn-primary" href="produtos.html" role="button" style="margin-top:10px">Verificar
                    Status do Serviço</a>
                  <div class="col-md-12" style="margin-top: 10px; padding: 0px">
                    <div class="tabbable" id="tabs-315663">
                      <ul class="nav nav-tabs">
                        <li class="active">
                          <a href="#panel-34196" data-toggle="tab" id="tab_border">Geral</a>
                        </li>
                        <li>
                          <a href="#panel-470048" data-toggle="tab" id="tab_border">Produtos</a>
                        </li>
                        <li>
                          <a href="#panel-4700481" data-toggle="tab" id="tab_border">Clientes</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane" id="panel-470048">
                          <div class="base">
                            <div class="row">
                              <div class="col-md-12" style="margin-top:10px">
                                <table id="notas_produtos" class="table table-bordered table-striped colortable">
                                  <thead>
                                    <tr>
                                      <th>Código</th>
                                      <th>Código de Barra</th>
                                      <th>Produto</th>
                                      <th>NCM</th>
                                      <th>CFOP</th>
                                      <th>Preço R$</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr v-for="produto in produtos">
                                      <td>{{produto.codigo}}</td>
                                      <td>{{produto.codigoBarra}}</td>
                                      <td>{{produto.nome}}</td>
                                      <td>{{produto.ncm}}</td>
                                      <td>{{produto.cfop}}</td>
                                      <td>R$ {{produto.preco}}</td>
                                    </tr>
                                  </tbody>
                                  <tfoot>
                                    <tr>
                                      <th>Código</th>
                                      <th>Código de Barra</th>
                                      <th>Produto</th>
                                      <th>NCM</th>
                                      <th>CFOP</th>
                                      <th>Preço R$</th>
                                    </tr>
                                  </tfoot>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane" id="panel-4700481">
                          <div class="base">
                            <div class="row">
                              <div class="col-md-12" style="margin-top:10px">
                                <table id="notas_clientes" class="table table-bordered table-striped colortable">
                                  <thead>
                                    <tr>
                                      <th>Nome</th>
                                      <th>CPF</th>
                                      <th>Telefone</th>
                                      <th>E-mail</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr v-for="cliente in clientes">
                                      <td>{{cliente.nome}}</td>
                                      <td>{{cliente.cpf}}</td>
                                      <td>{{cliente.telefone}}</td>
                                      <td>{{cliente.email}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane active" id="panel-34196">

                          <div class="base">
                            <div class="row" style="margin-top:10px">
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label>Número</label>
                                  <input v-model="nota.nfeProc.NFe.infNFe.ide.cNF" type="text" class="form-control">
                                </div>
                              </div>
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label>Data de Emissão:</label>
                                  <div class="input-group date">
                                    <div class="input-group-addon">
                                      <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="datepicker"
                                      v-model="nota.nfeProc.NFe.infNFe.ide.dhEmi">
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label>Data de Saída:</label>
                                  <div class="input-group date">
                                    <div class="input-group-addon">
                                      <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="datepicker2" v-model="nota.nfeProc.NFe.infNFe.ide.dhSaiEnt">
                                  </div>                                  
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Natureza da Operação</label>
                                  <select name="mes" class="form-control" required="true"
                                    v-model="nota.nfeProc.NFe.infNFe.ide.natOp">
                                    <option value="VENDA DE MERCADORIA">VENDA DE MERCADORIA</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="disabledTextInput">Finalidade</label>
                                  <select name="mes" class="form-control" required="true"
                                    v-model="nota.nfeProc.NFe.infNFe.ide.finNFe">
                                    <option value="" selected="1">Finalidade</option>
                                    <option value="1">NFe normal</option>
                                    <option value="2">NFe complementar</option>
                                    <option value="3">NFe de ajuste</option>
                                    <option value="4">Devolução/Retorno</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="disabledTextInput">Venda à</label>
                                  <select name="mes" class="form-control" required="true"
                                    v-model="nota.nfeProc.NFe.infNFe.ide.indPag">
                                    <option value="" selected="1">Forma de Pagamento</option>
                                    <option value="0">Pagamento à vista</option>
                                    <option value="1">Pagamento à prazo</option>
                                    <option value="2">Outros</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="disabledTextInput">Modalidade do Frete</label>
                                  <select name="mes" class="form-control" required="true" v-model="nota.nfeProc.NFe.infNFe.ide.modFrete">
                                    <option value="" selected="1">Frete</option>
                                    <option value="0">Por conta do emitente</option>
                                    <option value="1">Por conta do destinatário/remetente</option>
                                    <option value="2">Por conta de terceiros</option>
                                    <option value="9">Sem frete</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row" style="margin-top:10px; background-color:#ffe8da">
                              <div class="col-md-12">
                                <h3>Selecione o cliente usando apenas uma das duas opções
                                  abaixo</h3>
                              </div>
                              <!-- <div class="col-md-5" style="background-color: chartreuse; padding: 10px">
                                <div class="form-group">
                                  <label>Buscar Cliente</label>
                                  <div class="input-group date">
                                    <div class="input-group-addon">
                                      <i class="fa fa-search"></i>
                                    </div>
                                    <input type="text" v-model='searchClientesQuery' class="form-control pull-right"
                                      @keyup.enter='searchClientes'>
                                  </div>
                                </div>
                              </div> -->
                              <div class="col-md-10" style="background-color: chartreuse; padding: 10px">
                                <div class="form-group">
                                  <label for="disabledTextInput">Clientes</label>
                                  <select class="form-control" v-model="selectedItemClientes"
                                    @change="manualChangeClientes">
                                    <option value="">Selecionar Cliente</option>
                                    <option value="{{c.nome}}" v-for="c in clientes">{{c.nome}}</option>
                                  </select>
                                </div>
                              </div>

                              <div class="col-md-2" style="background-color: #f3f3f3; padding: 10px">
                                <label for="disabledTextInput">Nº de Clientes</label>
                                <p style="padding: 10px"><strong>{{ totalClientes() }}</strong></p>
                              </div>
                            </div>
                            <div class="row" v-if="showClient" style="background-color: #c0f8ff">
                              <div class="col-md-12">
                                <h4><strong>Nome do Cliente:</strong> {{cliente[0].nome}}</h4>
                                <h4><strong>CPF do Cliente:</strong> {{cliente[0].cpf}}</h4>
                                <h4><strong>Endereço do Cliente:</strong> {{cliente[0].endereco}}</h4>
                                <h4><strong>Bairro do Cliente:</strong> {{cliente[0].bairro}}</h4>
                                <h4><strong>Número do Endereço do Cliente:</strong> {{cliente[0].numero}}</h4>
                                <h4><strong>Telefone do Endereço do Cliente:</strong> {{cliente[0].telefone}}</h4>
                              </div>
                            </div>
                            <!--
                            <div class="row" style="margin-top:10px">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Informações Adicionais Contribuinte</label>
                                  <textarea class="form-control" rows="6"></textarea>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Informações Adicionais Fisco</label>
                                  <textarea class="form-control" rows="6"></textarea>
                                </div>
                              </div>
                            </div>
                            -->
                            <div class="row" style="background-color:#ffe8da">
                              <div class="col-md-12">
                                <h3>Selecione o produto usando apenas uma das duas opções
                                  abaixo</h3>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <h1 style="font-weight: bold">Produtos</h1>
                                <div class="row" style="margin-top:10px">
                                  <!-- <div class="col-md-5" style="background-color: chartreuse; padding: 10px">
                                    <div class="form-group">
                                      <label>Buscar Produto</label>
                                      <div class="input-group date">
                                        <div class="input-group-addon">
                                          <i class="fa fa-search"></i>
                                        </div>
                                        <input type="text" v-model='searchProductsQuery' class="form-control pull-right"
                                          @keyup.enter='searchProducts'>
                                      </div>
                                    </div>
                                  </div> -->
                                  <div class="col-md-10" style="background-color: chartreuse; padding: 10px">
                                    <div class="form-group">
                                      <label>Produtos</label>
                                      <select class="form-control" v-model="selectedItemProdutos"
                                        @change="manualChangeProdutos">
                                        <option value="">Selecionar Produto</option>
                                        <option value="{{p.nome}}" v-for="p in produtos">{{p.nome}}</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-2" style="background-color: #f3f3f3; padding: 10px">
                                    <label>Nº de Produtos</label>
                                    <p style="padding: 10px"><strong>{{ totalProdutos() }}</strong></p>
                                  </div>
                                </div>
                                <!-- <div class="row" style="background-color: #c0f8ff">
                                  <div class="col-md-12">
                                    {{produto | json}}
                                  </div>
                                </div> -->
                                <div class="row" style="margin-top:10px">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Código do Produto</label>
                                      <input type="text" v-model="prodForm.codigoProduto" class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="row" style="margin-top:10px">
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <label>Descrição</label>
                                      <input type="text" v-model="prodForm.descricao" class="form-control">
                                    </div>
                                  </div>
                                  <div class="col-md-2">
                                    <div class="form-group">
                                      <label>Valor Unitário</label>
                                      <input type="text" v-model="prodForm.valorUnitario" class="form-control">
                                    </div>
                                  </div>
                                  <div class="col-md-2">
                                    <div class="form-group">
                                      <label>Qtd</label>
                                      <input type="text" v-model="prodForm.qtd" class="form-control">
                                    </div>
                                  </div>
                                  <div class="col-md-2">
                                    <div class="form-group">
                                      <label>Valor Total</label>
                                      <input type="text" v-model="prodForm.valorUnitario" class="form-control">
                                    </div>
                                  </div>
                                  <div class="col-md-2">
                                    <div class="form-group">
                                      <label>NCM</label>
                                      <input type="text" v-model="prodForm.ncm" class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="row" style="margin-top:10px">
                                  <!-- <div class="col-md-3">
                                    <div class="form-group">
                                      <label>Total do Produtos</label>
                                      <input type="text" class="form-control">
                                    </div>
                                  </div> -->
                                  <!-- <div class="col-md-3">
                                    <div class="form-group">
                                      <label>Frete</label>
                                      <input type="text" v-model="prodForm.frete" class="form-control">
                                    </div>
                                  </div> -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label>CFOP</label>
                                      <input type="text" v-model="prodForm.cfop" class="form-control">
                                    </div>
                                  </div>
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label>Desconto</label>
                                      <input type="text" v-model="prodForm.desconto" class="form-control">
                                    </div>
                                  </div>
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label>Valor Total da Nota</label>
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <a class="btn btn-primary" @click="addProduct()" role="button"
                                        style="margin-top:10px">Adicionar
                                        Produto</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="padding: 20px; background-color: black; color: white" v-if="debug == true">
        <h1>Debug</h1>
        <pre style="background-color: black; border: 0px; color: white">{{nota | json}}</pre>
      </div>
    </div>
  </div>

  <script src="bootstrap/js/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="datepicker/bootstrap-datepicker.min.js"></script>
  <script src="datatables/jquery.dataTables.min.js"></script>
  <script src="datatables/dataTables.bootstrap.min.js"></script>
  <script src="scripts/screens/nfe/datatableset.js"></script>
  <script src="vue/vue.min.js"></script>
  <script src="scripts/screens/nfe/nfe.js"></script>
</body>

</html>