<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equal 0.0.1</title>
    <link href="bootstrap336/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="styles/signin_login.css" rel="stylesheet">
</head>

<body class="text-center">
    <div class="form-signin">
        <img class="mb-4" src="images/logoSystem.png" alt="" style="width:150px">
        <br>
        <br>
        <input type="text" id="inputPassword" class="form-control" placeholder="Serial" v-model="forms.serial">
        <button class="btn btn-lg btn-primary btn-block" @click="validate(rodan)"  v-if="todaInfomacaoFront">Validar</button>
        <br>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
    </div>
    <script src="scripts/screens/rodan/rodan.js"></script>
</body>

</html>

</html>