<!DOCTYPE html>
<html>

<head>
    <title>Equal 0.0.1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="photon/css/photon.css">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class="window" id="main">
        <div class="pane-group" style="background-color: white; z-index: 9000;" v-if="loading == true">
            <div class="pane space">
                <div class="preloader">
                    <img src="images/Infinity-1s-200px.gif" />
                </div>
            </div>
        </div>
        <header class="toolbar toolbar-header">
            <h1 class="title">Equal - Sistema Comercial</h1>
            <div class="toolbar-actions">
                <div class="btn-group">
                    <a href="main2.html" class="btn btn-default link">
                        <span class="icon icon-home span-margin"></span> Início
                    </a>
                    <button v-on:click="goToPDV" class="btn btn-default link">
                        <span class="icon icon-basket span-margin"></span>
                        PDV
                    </button>
                    <a href="sales.html" class="btn btn-default link">
                        <span class="icon icon-archive span-margin"></span> Vendas
                    </a>
                    <a href="products.html" class="btn btn-default link">
                        <span class="icon icon-basket span-margin"></span> Produtos
                    </a>
                    <a href="mainRegisters.html" class="btn btn-default link">
                        <span class="icon icon-newspaper span-margin"></span> Cadastros
                    </a>
                    <a href="mainNotes.html" class="btn btn-default link">
                        <span class="icon icon-docs span-margin"></span> Notas
                    </a>
                    <a href="support.html" class="btn btn-default link">
                        <span class="icon icon-plus-squared span-margin"></span> Suporte
                    </a>
                    <a href="reports.html" class="btn btn-default link">
                        <span class="icon icon-book-open span-margin"></span> Relatórios
                    </a>
                    <a href="manual.html" class="btn btn-default link">
                        <span class="icon icon-book-open span-margin"></span> Manual
                    </a>
                    <a href="settings.html" class="btn btn-default link">
                        <span class="icon icon-cog span-margin"></span> Configurações
                    </a>
                    <a href="shortcuts.html" class="btn btn-default link">
                        <span class="icon icon-layout span-margin"></span> Atalhos
                    </a>
                    <button v-if="registered==false" v-on:click="currentTab = tabs.register"
                        class="btn btn-negative link">
                        <span class="icon icon-lock-open span-margin"></span>
                        Registrar
                    </button>
                </div>
            </div>
        </header>
        <div class="window-content">
            <div class="pane-group">
                <div class="pane space">
                    <span class="nav-group-item">
                        <span class="icon icon-chat"></span>
                        (91)98158-4216 - Rômulo Melo
                    </span>
                    <span class="nav-group-item">
                        <span class="icon icon-chat"></span>
                        (91)98562-3958 - Rômulo Melo
                    </span>
                    <span class="nav-group-item">
                        <span class="icon icon-paper-plane"></span>
                        contatoromulom@gmail.com
                    </span>
                </div>
            </div>
        </div>
        <footer class="toolbar toolbar-footer">
            <div class="toolbar-actions">
                <span>SEMPRE EVOLUINDO!</span>
                <span>SEMPRE EVOLUINDO!</span>
            </div>
        </footer>
    </div>
    <script src="vue2/vue.min.js"></script>
    <script src="scripts/screens/main/main.js"></script>
</body>

</html>